.wrapper {
    margin-bottom: 90px;
    .nextHoliday-row1 {
        display: flex;

        .nextHoliday-collum1 {
            width: calc(100% / 3);
            h6 {
                color: #9a9a9a;
                font-size: 2rem;
            }
            h3 {
                font-size: 3.6rem;
                font-weight: bold;
                display: inline;

                h3 {
                    text-decoration: underline;
                    text-decoration-color: #14b9d5;
                }
            }
            .nextHoliday-paragrap1,
            .nextHoliday-paragrap2 {
                color: #9a9a9a;
                font-size: 2rem;
                line-height: 27px;
                letter-spacing: 1px;
                margin-top: 15px;
            }

            .price {
                font-size: 3rem;
                margin: 20px 0;
                .old-price {
                    color: #dadada;
                    text-decoration: line-through;
                    margin-right: 5px;
                }

                .new-price {
                    span {
                        font-size: 1.5rem;
                    }
                }
            }

            .btn-book {
                display: inline;

                .book-link {
                    background-color: #1bbc9b;
                    border-radius: 40px;
                    padding: 15px 35px;
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    line-height: 41.2px;
                    // display: block;
                }
            }
        }

        .nextHoliday-collum2 {
            width: calc(100% / 3 * 2);
            position: relative;
            .image-slide {
                height: 410px;
                position: relative;
                // > div {
                //     height: 100%;
                // }
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    animation: InvisiblePic 1s linear;
                    animation-fill-mode: forwards;
                }
                .activePic {
                    animation: visiblePic 3s ease-out;
                    animation-fill-mode: forwards;
                }

                .change-pic-slide {
                    position: absolute;
                    top: 10px;
                    display: flex;
                    left: 50%;
                    transform: translateX(-50%);
                    justify-content: center;
                    .btn-change-pic {
                        width: 60px;
                        height: 3px;
                        background-color: #a3a3a3;
                        cursor: pointer;

                        + .btn-change-pic {
                            margin-left: 8px;
                        }

                        &:hover {
                            background-color: white;
                        }

                        &.active {
                            background-color: white;
                            animation: changepic 3s ease-in;
                        }
                    }
                }
            }

            .countDown-block {
                width: calc(100% / 3 * 2);
                height: 115px;
                z-index: 99;
                background-color: #14b9d5;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;

                .countdownElement {
                    width: calc(100% / 4);
                    text-align: center;
                    align-self: center;
                    color: white;
                    position: relative;

                    h1 {
                        font-size: 4rem;
                        font-weight: 400;
                    }

                    h3 {
                        font-size: 1.5rem;
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    @for $i from 2 through 4 {
        .countdownElement:nth-child(#{$i})::before {
            content: '';
            position: absolute;
            left: 0;
            width: 3px;
            transform: rotate(15deg);
            height: 50px;
            background-color: #13b0ca;
        }
    }

    .nextHoliday-row2 {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 110px;
        grid-column-gap: 115px;
        .tours {
            display: flex;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
            }

            .decription {
                padding-left: 80px;
                .decription-title {
                    line-height: 24px;
                    font-size: 2.5rem;
                    font-weight: bold;
                }

                .decription-content {
                    color: #9a9a9a;
                    display: block;
                    margin: 20px 0;
                    font-size: 1.6rem;
                    line-height: 24px;
                }
                a {
                    text-decoration: none;
                    font-size: 1.6rem;
                    color: #14b9d5;
                }
            }
        }
    }
}

.active-pic {
    animation: changepic 2s ease;
}
@keyframes visiblePic {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes InvisiblePic {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
// .pic {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }
